<div id="<%= dom_id producto %>">
  <p>
    <strong>Title:</strong>
    <%= producto.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= producto.price %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= producto.code %>
  </p>

</div>
